{% extends "base.html" %}

{% block title %}
<title>О разработчиках</title>
{% endblock %}

{% block content %}
<body>
<main>
  <p></p>
  <div class="row align-items-md-stretch">
    <div class="col-md-6">
    <div class="h-100 p-5 text-black bg-light rounded-3">
        <h2>Здесь вы немного больше узнаете о нас и о наших проектах!</h2>
        <p>Нажав на эту кнопку вы сможете увидеть нас совместный проект на PyGame - нашу игру PyTanks2D. А также вы сможете не только ее увидеть но еще и ознакомиться с ней на личном опыте.</p>
      <a href="https://github.com/fasepaIm/Pygame_project" target="_blank"><button class="btn btn-outline-secondary" type="button">Перейти к проекту</button></a>
      </div>
    </div>
    <img src="static/img/tank.png" width="50%" height="50%">
  </div>
  <p></p>
    <div class="row align-items-md-stretch">
      <img src="static/img/table.png" width="50%" height="50%">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Систематизированная таблица знаний по математике.</h2>
          <p>Специальное приложение для учащихся, которое поможет им в изучении предмета математики!</p>
          <a href="https://github.com/In228/projects" target="_blank"><button class="btn btn-outline-light" type="button">Перейти к проекту</button></a>
        </div>
      </div>
    </div>
  <p></p>
  <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>QTAlarmClock</h2>
          <p>Данный проект необходим для установки одного или более будильников с напоминаниями. Одним из важнейших условий при создании проекта, было наличие приятного дизайна и возможности выбора различных циферблатов. Пригодится тем, кому нужен будильник на ПК.</p>
          <a href="https://github.com/fasepaIm/Qt_Alarm_Clock_project.git" target="_blank"><button class="btn btn-outline-secondary" type="button">Перейти к проекту</button></a>
        </div>
      </div>
    <img src="static/img/QTalarmclock.jpg" width="50%" height="50%">
    </div>
</main>
</body>

{% endblock %}
