{% extends "base.html" %}

{% block title %}
<title>Библиотека</title>
{% endblock %}

{% block content %}
<body>

<main>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Добро пожаловать к нам!</h2>
        <p class="lead">Вы попали на лучший сайт для прочтения и скачки книг!</p>
      </div>
      <div class="col-md-5">
        <img src="static/img/book.jpg" width="100%" height="100%">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Погрузитесь в замечательный мир книг!</h2>
        <p class="lead">Их опыт поможет вам в трудную минуту.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="static/img/lermant.jpg" width="100%" height="100%" align="left">

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">И наконец. Как же воспользоваться нашим сервисом</h2>
        <p class="lead">Для того чтобы вы скачивали и читали книги - надо всего лишь авторизироваться. И все! Наш сервис абсолютно бесплатный</p>
      </div>
      <div class="col-md-5">
        <img src="static/img/puskin.jpg" width="100%" height="100%">

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>
</body>

{% endblock %}
